@import "colors";

.reaction-grid {
  width: 100%;
  height: 100%;

  div {
    box-sizing: border-box;
  }

  .row {
    float: none;
    clear: both;
  }

  .cell {
    background: @cell-empty-background;
    display: inline-block;
    float: left;
    margin: 1px;

    &.filled {
      background: @cell-background;
      cursor: pointer;

      &:hover {
        background: @cell-hover-background;
      }
    }
  }
}
