html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #84978c;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.grid-wrapper {
  margin: 0 auto;
  display: inline-block;
}
